 .header {
    background-color: rgb(205, 205, 205);
    height: 5rem;
 }

.icon {
    height: 4rem;
    float: left;
    margin-top: .5rem;
    margin-left: .5rem;
}

.headerRight {
    float: right;
}



.loginButton {
    height: 3rem;
    float: left;
    margin: 1rem;
}
        






