 .header{
    background-color: rgb(205, 205, 205);
    height: 5rem;
    margin: -1%;

    .icon {
        height: 4rem;
        float: left;
        margin-top: .5rem;
        margin-left: .5rem;
        }

        .menuIcon {
            height: 3rem;
            float: right;
            margin: 1rem;
        }
        
}





