.Plant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 2em;
    background-color: white;
    border-radius: 12px;
    
    /* 
    normalize height for plant items 
    probably breaking on text and/or photo size
    */

    div {
        margin: 20px;
        text-align: center;
        font-size: .9em;
    }

    img {
        border-radius: 12px;
    }

    .scientific {
        font-style: italic;
    }
}
