@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.SearchPage {
    margin-top: 40px;
    font-family: 'Libre Baskerville', serif;

    a {
        text-decoration: none;
        color: black;
    }
}