@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

* {
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #25282a;

.helloDiv {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3em;
    color: white;
    font-family: 'Salsa', cursive;
}

.plantListItem {
    display: grid;
    grid-template-columns: repeat();
    grid-template-rows: repeat();
    text-align: center;
    padding: 1.5rem;
    width: auto;
    align-content: center;
    background-color: white;
  
    .myPlantFigures {
        align-content: center;
        align-self: center;
    }
    .myPlantImg {
       
        align-self: center;
        align-content: center;
        height: auto;
        width: 6rem;
     }
     .myPlantFigcaption {
         align-content: center;
         align-self: center;
         margin: 1rem;
     }
}

.myPlantFigures > li {
    width: 5rem;
    height: auto;
    text-align: center;
    align-self: center;
    margin: .5rem;
}

.plantListItem {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: auto;
    border: 1px solid #022704;
    border-radius: 9px;
    margin: 2rem;
}

.MyPlantsList {
    display: flex;
    flex-flow: row wrap;
        } 
    }
}
