.AddToCollection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .addIcon {
        height: 1rem;
        width: auto;
    }
    
    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        cursor: pointer;
        padding: 6px;
        border-radius: 6px;
        border: none;
    }
    
    span {
        text-align: center;
    }
    
}

