@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50em;
    background-image: url(../../../../images/home-page.jpg);
    background-size: 100vw, 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111411;

    .bannerContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .Search, .topText {
        align-self: center;
        justify-self: center;
        align-content: center;
        width: 10em;
        margin-top: 2.3em;
    }
    
    /* .bannerContainer > img {
        height: 50%; 
        opacity: 0.8;
        background-size: cover;
        background-repeat: repeat;
    } */

    .bannerContainer > :last-child {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 12px;
    }

    .homeSearch {
        margin-top: 10em;
    }

    .topText {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2%;
        align-items: center;
        align-self: center;
        font-family: 'Salsa', cursive;
        top: 15%;
        font-size: 4.3em;
        text-align: center;
        text-shadow: 4px 4px 6px black;
    }
}
