@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

@media screen and (min-width: 1001px) {
    .careDetails {
        font-size: 1em;
    }
}

@media screen and (max-width: 1000px) {
    .careDetails {
        font-size: .7em;
    }
    .bottomMidRight {
        font-size: .5em;
        line-height: 120%;
    }
    .bottomMidLeft {
        font-size: .8em;
        line-height: 120%;
    }
}

.Details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #25282a 60%, #111411 100%);
    color: white;
}

.top {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3em;
    text-align: center;
    font-family: 'Salsa', cursive;
    letter-spacing: .2em;
}

.common {
    font-size: 3em;
    color: white;
}

.scientific {
    font-style: italic;
    font-weight: normal;
    color: white;
}

.maintenanceValue {
    float: right;
    position: relative;
}

.mid {
    border: 4px solid black;
    border-radius: 10px;
    margin: 2em;
    height: 35em;
    width: 90%;
    background-color: white;
    color: #022704;
    box-shadow: 0px 2px 10px 2px black;
}

.midLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    width: 35%;
    height: 100%;
    padding: 1em;
    margin-left: 2.5em;
}

.image {
    width: auto;
    height: auto;
}

.addRemoveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

.midRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

.careDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
    border-left: 3px solid black;
    line-height: 135%;
     font-family: 'PT Sans', sans-serif;
}

.key {
    float: left;
    width: 35%;
    text-align: right;
}

.value {
    float: right;
    width: 60%;
}

.bottomMid {
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 15em;
    border-radius: 10px;
    line-height: 135%;
    padding: 0 2em 0 2em;
    background-color: black;
    color: #EBFEF4;
    border: 1px solid white;
    font-family: 'PT Sans', sans-serif;
    box-shadow: 0px 2px 10px 2px black;
}

.bottomMidTop {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.bottomMidLeft {
    float: left;
    text-align: center;
    width: 30%;
}

ul {
    list-style-type: none;
}

.bottomMidRight {
    float: right;
    width: 60%;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
}

.propagation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    line-height: 135%;
    margin: 2em 0 2em 0;
    padding: 2em 0 2em 0;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    color: #022704;
    font-family: 'PT Sans', sans-serif;
    box-shadow: 0px 2px 10px 2px black;
}

.propKey {
    font-weight: bold;
    font-size: 1.5em;
}

.loadingContainer {
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}