<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
>>>>>>> d440b17f98d925a807cd9f7d3b8f6acb8ae6ba54
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.AboutUs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
<<<<<<< HEAD
  /* flex-wrap: wrap; */
  background-image: linear-gradient(to top, #25282a 60%, #111411 100%);
  height: 100em;
=======
  flex-wrap: wrap;
  background-image: linear-gradient(to top, #25282a 60%, #111411 100%);
  height: 80em;
>>>>>>> d440b17f98d925a807cd9f7d3b8f6acb8ae6ba54

  .header{
    margin-top: 0.5em;
    font-size: 3em;
<<<<<<< HEAD
    font-family: 'Salsa', cursive;
=======
    font-family: 'Kavivanar', cursive;
>>>>>>> d440b17f98d925a807cd9f7d3b8f6acb8ae6ba54
    color: white;
  }

  .team_bios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 1em;
<<<<<<< HEAD
    padding-bottom: 2em;
=======
>>>>>>> d440b17f98d925a807cd9f7d3b8f6acb8ae6ba54
  }

  .bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.5em 0.5em;
    width: 15em;
    border: 4px solid #022704;
    border-radius: 10px;
    padding: 1em;
    background-color: #EBFEF4;
    font-family: 'PT Sans', sans-serif;
  }
  .image{
    border-radius: 10px;
  }

  .name{
    margin-top: 0.5em;
    text-align: center;
    font-style: bold;
  }

  .title{
    margin-bottom: 0.5em;
    text-align: center;
    font-style: italic;
    font-size: smaller;
  }

  .heading{
    font-size: smaller;
  }

  .data{
    padding: 0.5em;
    font-size: 0.7em;
    text-indent: 0.7em;
  }

  .key{
    float: left;
    width: 30%;
    text-align: left;
    text-indent: 0.1em;
  }

  .value{
    float: right;
    width: 70%;
    text-indent: 0.1em;
  }
}
